<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" href="../static/style/main.css">
    <title>Case Vise Clasification Tab</title>
</head>
<body style="background-color: cadetblue;display: contents;">
    <div>
        <img id="bgimage" src="/static/style/bg.jpg" alt="img">
        <div class="pt-5">
            <div class="divHeading mt-5">
                <h2 class="text-center">Upload Images from one Class</h2>
            </div>
            <div class="text-center mt-5">
                <form action = "http://localhost:5000/caseclassifyupload" method = "POST" enctype = "multipart/form-data">
                    <div class="form-group">
                        <input type="file" name = "file[]"  multiple="" class="form-control form-control-lg w-25 m-auto">                        
                    </div>
                    <div>
                        <select class="form-select form-select-lg mb-3 mt-3 m-auto" style="width: 18%!important;" id="case" name="case">
                            <option value="Haemorrhage">Haemorrhage</option>
                            <option value="Infarct">Infarct</option>
                            <option value="Normal">Normal</option>
                        </select>
                    </div>
                    <button class="btn btn-info">submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>